@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
/* line 29, ../scss/home.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 35, ../scss/home.scss */
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 41, ../scss/home.scss */
body {
  font-family: "Hachi Maru Pop", cursive;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
}

/* line 48, ../scss/home.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 53, ../scss/home.scss */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 60, ../scss/home.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* line 64, ../scss/home.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 69, ../scss/home.scss */
.inner {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  /* line 69, ../scss/home.scss */
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* line 80, ../scss/home.scss */
.section {
  padding-top: 100px;
}
@media (max-width: 767px) {
  /* line 80, ../scss/home.scss */
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

/* line 91, ../scss/home.scss */
.header {
  height: 220px;
  top: 0;
  left: 0;
  width: 1300px;
  z-index: 300;
}
@media (max-width: 767px) {
  /* line 91, ../scss/home.scss */
  .header {
    height: 60px;
  }
}

/* line 104, ../scss/home.scss */
.padding {
  height: 220px;
}

/* line 107, ../scss/home.scss */
.header__inner {
  align-items: center;
  height: inherit;
  display: flex;
  width: 100%;
}

/* line 113, ../scss/home.scss */
.header__logo {
  margin-left: auto;
  margin-right: auto;
}
/* line 116, ../scss/home.scss */
.header__logo img {
  width: 195px;
  height: 220px;
}

/* line 121, ../scss/home.scss */
.nav {
  margin-right: auto;
  margin-left: auto;
}
/* line 124, ../scss/home.scss */
.nav ul {
  display: flex;
  margin-left: auto;
  font-size: 22px;
}
/* line 129, ../scss/home.scss */
.nav ul .li-contact {
  background-color: rgba(255, 102, 51, 0.7);
  border-radius: 5px;
  padding: 15px;
}
/* line 135, ../scss/home.scss */
.nav li {
  margin-left: 40px;
}
/* line 138, ../scss/home.scss */
.nav li:last-child {
  margin-right: 20px;
}
@media (max-width: 767px) {
  /* line 121, ../scss/home.scss */
  .nav {
    display: none;
  }
}

/* line 150, ../scss/home.scss */
.drawer-icon {
  position: fixed;
  right: 16px;
  top: 20px;
  z-index: 400;
  display: none;
  transition: transform 0.5s ease 0s;
}
@media (max-width: 767px) {
  /* line 150, ../scss/home.scss */
  .drawer-icon {
    display: block;
  }
}
/* line 162, ../scss/home.scss */
.drawer-icon.is-active {
  transform: translateX(-200px);
}
/* line 165, ../scss/home.scss */
.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
}
/* line 169, ../scss/home.scss */
.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}
/* line 173, ../scss/home.scss */
.drawer-icon.is-active .drawer-icon__bar3 {
  transform: rotate(45deg);
  top: 8px;
}

/* line 181, ../scss/home.scss */
.drawer-icon__bars {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
}

/* line 188, ../scss/home.scss */
.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  background: #C0C0C0;
  border: 1px solid #C0C0C0;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
}

/* line 200, ../scss/home.scss */
.drawer-icon__bar1 {
  top: 0;
}

/* line 203, ../scss/home.scss */
.drawer-icon__bar2 {
  top: 8px;
}

/* line 207, ../scss/home.scss */
.drawer-icon__bar3 {
  top: 16px;
}

/* line 211, ../scss/home.scss */
.drawer-icon__label {
  font-size: 50%;
}

/* line 215, ../scss/home.scss */
.drawer-content {
  width: 200px;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 399;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
}
/* line 227, ../scss/home.scss */
.drawer-content.is-active {
  transform: translateX(0);
}

/* line 235, ../scss/home.scss */
.drawer-content__item {
  border-bottom: 1px dotted #707070;
}
/* line 238, ../scss/home.scss */
.drawer-content__item a {
  display: block;
  color: #707070;
  padding: 20px;
  text-decoration: none;
  position: relative;
}
/* line 245, ../scss/home.scss */
.drawer-content__item a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 11px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 258, ../scss/home.scss */
.drawer-background {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 398;
  display: none;
}
/* line 268, ../scss/home.scss */
.drawer-background.is-active {
  display: block;
}

/* line 274, ../scss/home.scss */
.main {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  max-width: 100%;
}

/* line 290, ../scss/home.scss */
.main__visual__bg {
  background: url(../img/bread4.jpeg) no-repeat center center/cover;
  height: 800px;
  width: 100%;
  position: relative;
}

/* line 296, ../scss/home.scss */
.main__visual__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 302, ../scss/home.scss */
.main__visual__logo p {
  font-size: 60px;
  font-weight: 700;
}

/* line 314, ../scss/home.scss */
.main__content__contain {
  display: flex;
}

/* line 319, ../scss/home.scss */
.main__content__left {
  width: 50%;
}

/* line 324, ../scss/home.scss */
.main__content__img img {
  height: 500px;
  width: 600px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

/* line 330, ../scss/home.scss */
.main__content__right {
  width: 50%;
  padding-left: 20px;
}

/* line 334, ../scss/home.scss */
.main__content__title {
  text-align: center;
}
/* line 336, ../scss/home.scss */
.main__content__title p {
  font-size: 50px;
}

/* line 347, ../scss/home.scss */
.main__content__imgs ul {
  display: flex;
}
/* line 351, ../scss/home.scss */
.main__content__imgs li {
  margin-left: 20px;
}
/* line 354, ../scss/home.scss */
.main__content__imgs li:first-child {
  margin-left: 0;
}

/* line 362, ../scss/home.scss */
.access__inner {
  width: 1300px;
}

/* line 365, ../scss/home.scss */
.access-map {
  display: flex;
  max-width: 100%;
}

/* line 370, ../scss/home.scss */
.inframe-wrap {
  width: 60%;
  padding-top: 50%;
  position: relative;
}
/* line 375, ../scss/home.scss */
.inframe-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 383, ../scss/home.scss */
.access__info {
  width: 40%;
  padding: 5px 15px 5px 15px;
}

/* line 390, ../scss/home.scss */
.access__info__adress p {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 397, ../scss/home.scss */
.access__info__line {
  position: relative;
}
/* line 400, ../scss/home.scss */
.access__info__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
}

/* line 417, ../scss/home.scss */
.online__top__itmes {
  display: flex;
  flex-wrap: wrap;
}

/* line 421, ../scss/home.scss */
.online__top__item {
  width: calc(33.333% - 50px * 2 / 3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}
/* line 427, ../scss/home.scss */
.online__top__item:not(:nth-child(3n + 1)) {
  margin-left: 50px;
}
@media (max-width: 767px) {
  /* line 421, ../scss/home.scss */
  .online__top__item {
    width: 100%;
    margin-top: 30px;
  }
  /* line 435, ../scss/home.scss */
  .online__top__item:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
}

/* line 446, ../scss/home.scss */
.online__top-label {
  position: relative;
}
/* line 449, ../scss/home.scss */
.online__top-label::after {
  content: "オススメ！";
  position: absolute;
  width: 130px;
  background: #ffd500;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
}

/* line 461, ../scss/home.scss */
.online__top__item-contain {
  padding: 12px 10px 10px 10px;
}

/* line 465, ../scss/home.scss */
.item__title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
}

/* line 470, ../scss/home.scss */
.item__text {
  margin-top: 5px;
}
/* line 472, ../scss/home.scss */
.item__text p {
  font-size: 20px;
}

/* line 476, ../scss/home.scss */
.item__price {
  margin-top: 10px;
  margin-right: 10px;
}
/* line 479, ../scss/home.scss */
.item__price p {
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
  text-align: right;
}

/* line 491, ../scss/home.scss */
.online-shop__item__inner {
  display: flex;
}

/* line 494, ../scss/home.scss */
.online-shop__item__imgs {
  width: 50%;
  background: #808080;
  text-align: center;
}

/* line 507, ../scss/home.scss */
.online-shop__item__img-items ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 512, ../scss/home.scss */
.online-shop__item__img-items li {
  width: calc(25% - 10px * 4 / 5);
  margin-top: 20px;
}
/* line 516, ../scss/home.scss */
.online-shop__item__img-items li:not(:nth-child(2n + 1)) {
  margin-left: 10px;
}
/* line 519, ../scss/home.scss */
.online-shop__item__img-items li:nth-child(n + 5) {
  margin-top: 10px;
}
@media (max-width: 767px) {
  /* line 512, ../scss/home.scss */
  .online-shop__item__img-items li {
    width: calc(50% - 20px * 1 / 2);
  }
}
/* line 527, ../scss/home.scss */
.online-shop__item__img-items li img {
  width: 140px;
}

/* line 532, ../scss/home.scss */
.online-shop__item__contain {
  width: 50%;
  padding: 5px 15px 5px 10px;
}

/* line 547, ../scss/home.scss */
.bread__img__title {
  text-align: center;
}
/* line 550, ../scss/home.scss */
.bread__img__title p {
  font-size: 30px;
}

/* line 554, ../scss/home.scss */
.bread__img__items {
  display: flex;
}

/* line 557, ../scss/home.scss */
.bread__img__item {
  width: calc(33.333% - 50px * 2 / 3);
  margin-left: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

/* line 565, ../scss/home.scss */
.footer {
  margin-top: 300px;
}

/* line 569, ../scss/home.scss */
.footer__inner {
  align-items: center;
  height: inherit;
  display: flex;
  width: 100%;
}

/* line 575, ../scss/home.scss */
.footer__left {
  align-items: center;
}

/* line 580, ../scss/home.scss */
.footer__sns ul {
  display: flex;
}
/* line 583, ../scss/home.scss */
.footer__sns li {
  margin-left: 50px;
}

/* line 588, ../scss/home.scss */
.footer__logo img {
  width: 150px;
  height: 180px;
}

/* line 593, ../scss/home.scss */
.footer__nav {
  margin-top: 50px;
  margin-right: auto;
  margin-right: 10px;
  margin-left: auto;
}
/* line 598, ../scss/home.scss */
.footer__nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  font-size: 22px;
}
/* line 604, ../scss/home.scss */
.footer__nav ul .li-contact {
  background-color: rgba(255, 102, 51, 0.7);
  border-radius: 5px;
  padding: 15px;
}
/* line 610, ../scss/home.scss */
.footer__nav li {
  margin-left: 40px;
}
/* line 613, ../scss/home.scss */
.footer__nav li:last-child {
  margin-right: 20px;
}
@media (max-width: 767px) {
  /* line 593, ../scss/home.scss */
  .footer__nav {
    display: none;
  }
}

/* line 624, ../scss/home.scss */
.footer__right {
  display: flex;
  margin-left: auto;
}

/* line 631, ../scss/home.scss */
.footer2 {
  margin-top: 300px;
}

/* line 638, ../scss/home.scss */
.footer__left2 {
  align-items: center;
}

/* line 643, ../scss/home.scss */
.footer__sns2 ul {
  display: flex;
}
/* line 646, ../scss/home.scss */
.footer__sns2 li {
  margin-left: 50px;
}

/* line 651, ../scss/home.scss */
.footer__logo2 img {
  width: 150px;
  height: 180px;
}

/* line 657, ../scss/home.scss */
.footer__nav2 {
  margin-right: auto;
  margin-left: auto;
}
/* line 661, ../scss/home.scss */
.footer__nav2 ul {
  display: flex;
  font-size: 22px;
}
/* line 666, ../scss/home.scss */
.footer__nav2 li {
  margin-left: 130px;
}
/* line 669, ../scss/home.scss */
.footer__nav2 li:last-child {
  margin-right: 20px;
}
@media (max-width: 767px) {
  /* line 657, ../scss/home.scss */
  .footer__nav2 {
    display: none;
  }
}

/* line 680, ../scss/home.scss */
.footer__right2 {
  text-align: center;
}

/* line 683, ../scss/home.scss */
.copy__right {
  text-align: center;
}

/* line 689, ../scss/home.scss */
.footer3 {
  margin-top: 300px;
  font-size: 25px;
}

/* line 696, ../scss/home.scss */
.footer__left3 {
  display: flex;
}

/* line 699, ../scss/home.scss */
.footer__sns3 {
  margin-left: 220px;
}
/* line 701, ../scss/home.scss */
.footer__sns3 ul {
  display: flex;
}
/* line 704, ../scss/home.scss */
.footer__sns3 li {
  margin-left: 70px;
}

/* line 708, ../scss/home.scss */
.footer__logo3 {
  text-align: center;
}
/* line 710, ../scss/home.scss */
.footer__logo3 img {
  width: 150px;
  height: 180px;
}

/* line 719, ../scss/home.scss */
.footer__nav3 ul {
  display: flex;
}
/* line 723, ../scss/home.scss */
.footer__nav3 li {
  margin-left: 40px;
}

/* line 741, ../scss/home.scss */
.footer4 {
  font-size: 20px;
  margin-top: 200px;
}

/* line 745, ../scss/home.scss */
.footer__inner4 {
  display: flex;
}

/* line 748, ../scss/home.scss */
.footer__left4 {
  width: 33.33%;
}

/* line 751, ../scss/home.scss */
.footer__nav4 {
  padding-top: 50px;
}
/* line 753, ../scss/home.scss */
.footer__nav4 ul {
  display: flex;
}
/* line 756, ../scss/home.scss */
.footer__nav4 li {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 25px;
}

/* line 762, ../scss/home.scss */
.footer__center {
  width: 33.333%;
}

/* line 771, ../scss/home.scss */
.footer__right4 {
  width: 33.333%;
}

/* line 774, ../scss/home.scss */
.footer__logo4 {
  text-align: center;
}
/* line 776, ../scss/home.scss */
.footer__logo4 img {
  width: 220px;
  height: 220px;
}

/* line 783, ../scss/home.scss */
.footer__sns4 ul {
  display: flex;
  justify-content: center;
}
/* line 787, ../scss/home.scss */
.footer__sns4 li {
  margin-left: 30px;
}
