@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');

$color-main:#efe5cb;
$color-accent:#c1d1e0;
$color-sub:#bfc9bd;
 $color-text:#000;

$layout-width-inner:1300px;

$font-en: 'Lato', sans-serif;
$font-ja:'Noto Serif JP', serif;

// ブレークポイント
$breakpoints:(
	"sp" : "(max-width: 767px)",
	"tab" : "(min-width: 768px) and (max-width: #{$layout-width-inner})",
	"pc" : "(min-width: #{$layout-width-inner})",
	);



// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

*,
*::before,
*::after{
	box-sizing: border-box;
}

html,
body{
	padding: 0;
	margin:0;
	overflow-x:hidden; 
}
body{
	font-family: $font-ja;
	font-size: 18px;
	line-height: 1.6;
	color: $color-text;
	
}
img{
	max-width: 100%;
	height: auto;
}

ul,
ol{
	list-style: none;
	padding: 0;
	margin:0;
}

h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin:0;
}
a{
	color: inherit; //親要素を継承
	text-decoration: none;
}

.inner{
	width: $layout-width-inner;
	max-width: 100%;
	margin: 0 auto;

	@include mq('sp'){
		padding-left: 16px;
		padding-right: 16px;
	}
}

.section{
	padding-top: 20px;


	@include mq('sp'){
		padding-top: 50px;
		padding-bottom: 60px; 
	}
}


.header{
	height: 100px;
	top: 0;
	left: 0;
	width: $layout-width-inner;
	z-index: 300;
	margin-top: 30px;


	@include mq('sp'){
		height: 60px;
	}
}

.header__inner{
	align-items: center;
	height: inherit;
	display: flex;
	width: 100%;
}	
.nav{
	margin: 0 auto;
	ul{
		display: flex;
	}
	li{
		margin-left: 100px;

		&:first-child{
			margin-left: 0;
		}
	}
	a{


		}
	.home{
		position: relative;


		&:after{
			position: absolute;
			content: "HOME";
			width: 130px;
			height: 20px;
			top: 30px;
			left: -5px;
	}
	}
	.news{
		position: relative;


		&:after{
			position: absolute;
			content: "NEWS";
			width: 130px;
			height: 20px;
			top: 30px;
			left: -5px;
	}
	}
	.bread{
		position: relative;


		&:after{
			position: absolute;
			content: "BREAD";
			width: 130px;
			height: 20px;
			top: 30px;
			left: -12px;
	}
	}
	.access{
		position: relative;


		&:after{
			position: absolute;
			content: "ACCESS";
			width: 130px;
			height: 20px;
			top: 30px;
			left: -18px;
	}
	}
	.contact{
		position: relative;


		&:after{
			position: absolute;
			content: "CONTACT";
			width: 130px;
			height: 20px;
			top: 30px;
			left: -18px;
	}
	}
	.online{
		position: relative;


		&:after{
			position: absolute;
			content: "ONLINE SHOP";
			width: 130px;
			height: 20px;
			top: 30px;
			left: -25px;
	}
	}
}
//drawer
.drawer-icon{
	position: fixed;
	right: 16px;
	top: 20px;
	z-index: 400;
	display: none;
	transition: transform 0.5s ease 0s;

	@include mq('sp'){
		display: block;
	}

	&.is-active{
		transform:translateX(-200px);//drawer-contentの幅分を移動してあげる
			
			.drawer-icon__bar1{
				transform: rotate(-45deg);
				top:8px;
			}
			.drawer-icon__bar2{
				display: none;

			}
			.drawer-icon__bar3{
				transform:rotate(45deg);
				top:8px;

			}
		}

}
.drawer-icon__bars{
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0;

}
.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3{
	position: absolute;
	background: #C0C0C0;
	border:1px solid #C0C0C0;
	top: 0;
	left: 0;
	width: 30px;
	height: 4px;

}
.drawer-icon__bar1{
	top: 0;
}
.drawer-icon__bar2{
	top: 8px;

}
.drawer-icon__bar3{
	top: 16px;

}
.drawer-icon__label{
	font-size: 50%;

}
.drawer-content{
	width: 200px;
	height: 100%;
	background: #fff;
	top: 0;
	right: 0;
	box-shadow: 0 0 3px rgba(#000 , 0.16);
	position: fixed;
	z-index: 399;//iconが200だから
	transform: translateX(105%);
	transition: transform 0.5s ease 0s;

	&.is-active{
		transform: translateX(0);
	}

}
.drawer-content__items{

}
.drawer-content__item{
	border-bottom:1px dotted #707070;

	a{
		display: block;//paddingをきくようにする
		color: #707070;
		padding:20px;
		text-decoration: none;
		position: relative;

		&::after{
			content: "";
			position: absolute;
			width: 8px;//画像の大きさの半分
			height: 11px;//画像の大きさの半分
			right: 20px;
			top: 50%;
			transform:translateY(-50%);

		}

	}
}
.drawer-background{
	top: 0;
	left: 0;
	background: rgba(#000 , 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 398;
	display: none;//最初は消えていて

	&.is-active{
		display: block;//is-activeで出現
	}
}



//main__visual

//main__content

////////////main__header
.main__header{

}
.main__header__inner{
	background: url(../img/bread5.jpeg)no-repeat center center / cover;
	width: 100%;
	height: 200px;
	margin-top: 50px;

	h2{
		font-size: 50px;
		color:#fff;
		text-align: center;
		padding-top: 50px;
	}
}
////////////////////////////bread__main
.bread__main{
	margin-top: 100px;
}
.bread__main__inner{

}
.bread__main__img{
	display: flex;

}
.bread__img{
	width: calc(50% - 20px * 1 / 2);
	margin-left: 20px;


	&:first-child{
		margin-left: 0;
	}
	img{
		border-radius: 10px;
	}
}
.bread__main__text{
	margin-top: 50px;
}

///////////////////////////bread__sub
.bread__sub{
	margin-top: 50px;
}
.bread__sub__inner{

}
.bread__sub__items{

}
.row-reverse{
	flex-flow: row-reverse;

}
.bread__sub__item{
	display: flex;
	margin-bottom: 30px;
}
.bread__sub__img{
	width: 50%;
	img{
		border-radius: 10px;
	}
}
.bread__sub__text{
	width: 50%;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	p{

	}
}


// footer
.footer4{
	font-size: 20px;
	margin-top: 200px;
}
.footer__inner4{
	display: flex;
}
.footer__left4{
	width: 35%
}
.footer__nav4{
	padding-top: 50px;
	ul{
		display: flex;
	}
	li{
		margin-left: 30px;
		margin-top: 20px;
		font-size: 25px;
	}
}
.footer__center{
	width: 45%;
	padding-left: 30px;
}
.footer__info{

}
.footer__info__adress{

}
.footer__right4{
	width: 20%;
}
.footer__logo4{
	text-align: center;
	img{
		width:220px;
		height: 220px;
	}
}
.footer__sns4{

	ul{
		display: flex;
		justify-content: center;
	}
	li{
		margin-left: 30px;
	}
}
.copy__right{
	text-align: center;
	background: #000;
	color:#fff;
	height: 30px;
	padding-top: 15px;
}
.access__info__line{
	position: relative;

	&::after{
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background: #000;

	}
	
}

